# This is the problem:
A family has a boy. if they have two children, what is the probabilty that the other one is a girl?

In [1]:
import pandas as pd
import numpy as np

In [2]:
N = 1000

df = pd.DataFrame({"first": np.random.choice(["boy", "girl"], size=N), "second": np.random.choice(["boy", "girl"], size=N)})

In [3]:
df

    first second
0    girl    boy
1     boy    boy
2    girl    boy
3     boy   girl
4     boy   girl
..    ...    ...
995  girl    boy
996  girl   girl
997   boy   girl
998   boy   girl
999   boy    boy

[1000 rows x 2 columns]

In [4]:
df.groupby("first").count()

       second
first
boy       491
girl      509

In [ ]:
First, caclulate

In [5]:
df[df["first"]=="boy"].groupby("second").count()

        first
second
boy       243
girl      248

In [6]:
chance_if_first_is_boy=df[(df["first"]=="boy") & (df["second"]=="girl") ].shape[0]

chance_if_first_is_boy

248

In [7]:
chance_if_second_is_boy=df[(df["second"]=="boy") & (df["first"]=="girl") ].shape[0]
chance_if_second_is_boy

251

In [8]:
all_families_with_boys  = df[(df["second"]=="boy") | (df["first"]=="boy") ].shape[0]

all_families_with_boys

742

In [9]:
(chance_if_first_is_boy + chance_if_second_is_boy)/ all_families_with_boys

0.6725067385444744